<a href="https://colab.research.google.com/github/meza1122/Project/blob/main/Research_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Reading The Dataset**

In [3]:
import pandas as pd

data = pd.read_csv("/content/athlete_events.csv", engine='python', on_bad_lines='skip')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
import pandas as pd

data = pd.read_csv("/content/noc_regions.csv")
data.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

# **Cleaning Data**

In [5]:
import pandas as pd

athletes = pd.read_csv('/content/athlete_events.csv', engine='python', on_bad_lines='skip')
regions = pd.read_csv('/content/noc_regions.csv')

# **Cleaning Column Names**

In [6]:
athletes.columns = athletes.columns.str.strip().str.lower().str.replace(' ', '_')
regions.columns = regions.columns.str.strip().str.lower().str.replace(' ', '_')
print(athletes.columns)
print(regions.columns)

Index(['id', 'name', 'sex', 'age', 'height', 'weight', 'team', 'noc', 'games',
       'year', 'season', 'city', 'sport', 'event', 'medal'],
      dtype='object')
Index(['noc', 'region', 'notes'], dtype='object')

# **Checking for Missing Data**

In [7]:
print(athletes.isnull().sum)

<bound method DataFrame.sum of          id   name    sex    age  height  weight   team    noc  games   year  \
0     False  False  False  False   False   False  False  False  False  False
1     False  False  False  False   False   False  False  False  False  False
2     False  False  False  False    True    True  False  False  False  False
3     False  False  False  False    True    True  False  False  False  False
4     False  False  False  False   False   False  False  False  False  False
...     ...    ...    ...    ...     ...     ...    ...    ...    ...    ...
6945  False  False  False  False   False   False  False  False  False  False
6946  False  False  False  False   False   False  False  False  False  False
6947  False  False  False  False   False   False  False  False  False  False
6948  False  False  False  False   False   False  False  False  False  False
6949  False  False  False  False    True    True  False  False  False  False

      season   city  sport  event  medal
0      False  False  False  False   True
1      False  False  False  False   True
2      False  False  False  False   True
3      False  False  False  False  False
4      False  False  False  False   True
...      ...    ...    ...    ...    ...
6945   False  False  False  False   True
6946   False  False  False  False  False
6947   False  False  False  False   True
6948   False  False  False  False   True
6949   False  False  False  False   True

[6950 rows x 15 columns]>

In [8]:
print(regions.isnull().sum)

<bound method DataFrame.sum of        noc  region  notes
0    False   False   True
1    False   False  False
2    False   False   True
3    False   False   True
4    False   False   True
..     ...     ...    ...
225  False   False   True
226  False   False  False
227  False   False  False
228  False   False   True
229  False   False   True

[230 rows x 3 columns]>

In [9]:
athletes['height'] = athletes['height'].fillna(athletes['height'].median)
athletes['weight'] = athletes['weight'].fillna(athletes['weight'].median)

athletes['medal'] = athletes['medal'].fillna('No Medal')

# **Joining Dataset**

In [10]:
merged = pd.merge(athletes, regions, how= 'left', on='noc')
print(merged.head())

   id                      name sex   age  \
0   1                 A Dijiang   M  24.0
1   2                  A Lamusi   M  23.0
2   3       Gunnar Nielsen Aaby   M  24.0
3   4      Edgar Lindenau Aabye   M  34.0
4   5  Christine Jacoba Aaftink   F  21.0

                                              height  \
0                                              180.0
1                                              170.0
2  <bound method Series.median of 0       180.0\n...
3  <bound method Series.median of 0       180.0\n...
4                                              185.0

                                              weight            team  noc  \
0                                               80.0           China  CHN
1                                               60.0           China  CHN
2  <bound method Series.median of 0        80.0\n...         Denmark  DEN
3  <bound method Series.median of 0        80.0\n...  Denmark/Sweden  DEN
4                                               82.0     Netherlands  NED

         games  year  season       city          sport  \
0  1992 Summer  1992  Summer  Barcelona     Basketball
1  2012 Summer  2012  Summer     London           Judo
2  1920 Summer  1920  Summer  Antwerpen       Football
3  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  1988 Winter  1988  Winter    Calgary  Speed Skating

                              event     medal       region notes
0       Basketball Men's Basketball  No Medal        China   NaN
1      Judo Men's Extra-Lightweight  No Medal        China   NaN
2           Football Men's Football  No Medal      Denmark   NaN
3       Tug-Of-War Men's Tug-Of-War      Gold      Denmark   NaN
4  Speed Skating Women's 500 metres  No Medal  Netherlands   NaN

# **Categorical Data**

In [11]:
categorical_cols = ['name', 'sex', 'team', 'sport', 'event', 'medal', 'region']
for col in categorical_cols:
  merged[col] = merged[col].astype('category')

In [12]:
print(merged.info())
print(merged.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6950 entries, 0 to 6949
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6950 non-null   int64
 1   name    6950 non-null   category
 2   sex     6950 non-null   category
 3   age     6601 non-null   float64
 4   height  6950 non-null   object
 5   weight  6950 non-null   object
 6   team    6950 non-null   category
 7   noc     6950 non-null   object
 8   games   6950 non-null   object
 9   year    6950 non-null   int64
 10  season  6950 non-null   object
 11  city    6950 non-null   object
 12  sport   6950 non-null   category
 13  event   6950 non-null   category
 14  medal   6950 non-null   category
 15  region  6946 non-null   category
 16  notes   96 non-null     object
dtypes: category(7), float64(1), int64(2), object(7)
memory usage: 816.0+ KB
None
                 id                                        name   sex  \
count   6950.000000                                        6950  6950
unique          NaN                                        3885     2
top             NaN  Rnar (Ruslan-) Alexandersson (Ovtinnikov-)     M
freq            NaN                                          21  5457
mean    1960.837410                                         NaN   NaN
std     1135.002389                                         NaN   NaN
min        1.000000                                         NaN   NaN
25%      967.250000                                         NaN   NaN
50%     1978.500000                                         NaN   NaN
75%     2958.000000                                         NaN   NaN
max     3900.000000                                         NaN   NaN

                age                                             height  \
count   6601.000000                                               6950
unique          NaN                                                 68
top             NaN  <bound method Series.median of 0       180.0\n...
freq            NaN                                               1527
mean      25.299652                                                NaN
std        6.097532                                                NaN
min       13.000000                                                NaN
25%       21.000000                                                NaN
50%       24.000000                                                NaN
75%       28.000000                                                NaN
max       71.000000                                                NaN

                                                   weight   team   noc  \
count                                                6950   6950  6950
unique                                                104    270   185
top     <bound method Series.median of 0        80.0\n...  Egypt   USA
freq                                                 1563    295   295
mean                                                  NaN    NaN   NaN
std                                                   NaN    NaN   NaN
min                                                   NaN    NaN   NaN
25%                                                   NaN    NaN   NaN
50%                                                   NaN    NaN   NaN
75%                                                   NaN    NaN   NaN
max                                                   NaN    NaN   NaN

              games         year  season    city      sport  \
count          6950  6950.000000    6950    6950       6950
unique           51          NaN       2      42         57
top     2016 Summer          NaN  Summer  London  Athletics
freq            464          NaN    6090     656       1374
mean            NaN  1981.726043     NaN     NaN        NaN
std             NaN    27.893199     NaN     NaN        NaN
min             NaN  1896.000000     NaN     NaN        NaN
25%             NaN  1968.000000     NaN     NaN        NaN
50%             NaN  1988.000000     NaN     NaN        NaN
75%             NaN  2004.000000     NaN     NaN        NaN
max             NaN  2016.000000     NaN     NaN        NaN

                          event     medal region                 notes
count                      6950      6950   6946                    96
unique                      550         4    171                    12
top     Football Men's Football  No Medal  Egypt  United Arab Republic
freq                        312      6143    295                    30
mean                        NaN       NaN    NaN                   NaN
std                         NaN       NaN    NaN                   NaN
min                         NaN       NaN    NaN                   NaN
25%                         NaN       NaN    NaN                   NaN
50%                         NaN       NaN    NaN                   NaN
75%                         NaN       NaN    NaN                   NaN
max                         NaN       NaN    NaN                   NaN

# **Full** **Block** **Code**

In [13]:
import pandas as pd

athletes = pd.read_csv('/content/athlete_events.csv', engine='python', on_bad_lines='skip')
regions = pd.read_csv('/content/noc_regions.csv')

athletes.columns = athletes.columns.str.strip().str.lower().str.replace(' ', '_')
regions.columns = regions.columns.str.strip().str.lower().str.replace(' ', '_')

athletes['height'] = athletes['height'].fillna(athletes['height'].median())
athletes['weight'] = athletes['weight'].fillna(athletes['weight'].median())

athletes['medal'] = athletes['medal'].fillna('No Medal')

merged = pd.merge(athletes, regions, how= 'left', on='noc')

merged = merged.drop_duplicates()

categorical_cols = ['name', 'sex', 'team', 'sport', 'event', 'medal', 'region']
for col in categorical_cols:
  merged[col] = merged[col].astype('category')

categorical_cols = ['name', 'sex', 'team', 'sport', 'event', 'medal', 'region']
for col in categorical_cols:
  merged[col] = merged[col].astype('category')

merged.info()
merged.head()

<class 'pandas.core.frame.DataFrame'>
Index: 6942 entries, 0 to 6949
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      6942 non-null   int64
 1   name    6942 non-null   category
 2   sex     6942 non-null   category
 3   age     6593 non-null   float64
 4   height  6942 non-null   float64
 5   weight  6942 non-null   float64
 6   team    6942 non-null   category
 7   noc     6942 non-null   object
 8   games   6942 non-null   object
 9   year    6942 non-null   int64
 10  season  6942 non-null   object
 11  city    6942 non-null   object
 12  sport   6942 non-null   category
 13  event   6942 non-null   category
 14  medal   6942 non-null   category
 15  region  6938 non-null   category
 16  notes   96 non-null     object
dtypes: category(7), float64(3), int64(2), object(5)
memory usage: 869.4+ KB

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No Medal,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No Medal,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,175.0,70.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,No Medal,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,175.0,70.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No Medal,Netherlands,NaN

# ***Research Question***