<a href="https://colab.research.google.com/github/meza1122/Project/blob/main/Research_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Reading The Dataset**

In [10]:
import pandas as pd

data = pd.read_csv("/content/athlete_events.csv", engine='python', on_bad_lines='skip')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [11]:
import pandas as pd

data = pd.read_csv("/content/noc_regions.csv")
data.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

Cleaning Data

In [12]:
import pandas as pd

athletes = pd.read_csv('/content/athlete_events.csv', engine='python', on_bad_lines='skip')
regions = pd.read_csv('/content/noc_regions.csv')

Cleaning Column Names

In [13]:
athletes.columns = athletes.columns.str.strip().str.lower().str.replace(' ', '_')
regions.columns = regions.columns.str.strip().str.lower().str.replace(' ', '_')
print(athletes.columns)
print(regions.columns)

Index(['id', 'name', 'sex', 'age', 'height', 'weight', 'team', 'noc', 'games',
       'year', 'season', 'city', 'sport', 'event', 'medal'],
      dtype='object')
Index(['noc', 'region', 'notes'], dtype='object')

Checking for Missing Data

In [17]:
print(athletes.isnull().sum)

<bound method DataFrame.sum of           id   name    sex    age  height  weight   team    noc  games   year  \
0      False  False  False  False   False   False  False  False  False  False
1      False  False  False  False   False   False  False  False  False  False
2      False  False  False  False    True    True  False  False  False  False
3      False  False  False  False    True    True  False  False  False  False
4      False  False  False  False   False   False  False  False  False  False
...      ...    ...    ...    ...     ...     ...    ...    ...    ...    ...
20755  False  False  False  False   False   False  False  False  False  False
20756  False  False  False  False   False   False  False  False  False  False
20757  False  False  False  False    True    True  False  False  False  False
20758  False  False  False  False    True    True  False  False  False  False
20759  False  False  False  False    True    True  False  False  False  False

       season   city  sport  event  medal
0       False  False  False  False   True
1       False  False  False  False   True
2       False  False  False  False   True
3       False  False  False  False  False
4       False  False  False  False   True
...       ...    ...    ...    ...    ...
20755   False  False  False  False   True
20756   False  False  False  False   True
20757   False  False  False  False   True
20758   False  False  False  False   True
20759   False  False  False  False  False

[20760 rows x 15 columns]>

In [18]:
print(regions.isnull().sum)

<bound method DataFrame.sum of        noc  region  notes
0    False   False   True
1    False   False  False
2    False   False   True
3    False   False   True
4    False   False   True
..     ...     ...    ...
225  False   False   True
226  False   False  False
227  False   False  False
228  False   False   True
229  False   False   True

[230 rows x 3 columns]>

In [20]:
athletes['height'] = athletes['height'].fillna(athletes['height'].median)
athletes['weight'] = athletes['weight'].fillna(athletes['weight'].median)

athletes['medal'] = athletes['medal'].fillna('No Medal')

Joining Dataset

In [23]:
merged = pd.merge(athletes, regions, how= 'left', on='noc')
print(merged.head())

   id                      name sex   age  \
0   1                 A Dijiang   M  24.0
1   2                  A Lamusi   M  23.0
2   3       Gunnar Nielsen Aaby   M  24.0
3   4      Edgar Lindenau Aabye   M  34.0
4   5  Christine Jacoba Aaftink   F  21.0

                                              height  \
0                                              180.0
1                                              170.0
2  <bound method Series.median of 0        180.0\...
3  <bound method Series.median of 0        180.0\...
4                                              185.0

                                              weight            team  noc  \
0                                               80.0           China  CHN
1                                               60.0           China  CHN
2  <bound method Series.median of 0        80.0\n...         Denmark  DEN
3  <bound method Series.median of 0        80.0\n...  Denmark/Sweden  DEN
4                                               82.0     Netherlands  NED

         games  year  season       city          sport  \
0  1992 Summer  1992  Summer  Barcelona     Basketball
1  2012 Summer  2012  Summer     London           Judo
2  1920 Summer  1920  Summer  Antwerpen       Football
3  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  1988 Winter  1988  Winter    Calgary  Speed Skating

                              event     medal       region notes
0       Basketball Men's Basketball  No Medal        China   NaN
1      Judo Men's Extra-Lightweight  No Medal        China   NaN
2           Football Men's Football  No Medal      Denmark   NaN
3       Tug-Of-War Men's Tug-Of-War      Gold      Denmark   NaN
4  Speed Skating Women's 500 metres  No Medal  Netherlands   NaN

Categorical Data

In [29]:
categorical_cols = ['name', 'sex', 'team', 'sport', 'event', 'medal', 'region']
for col in categorical_cols:
  merged[col] = merged[col].astype('category')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [36]:
print(Athletes.head())

   ID                      Name Sex   Age  Height  Weight            Team  \
0   1                 A Dijiang   M  24.0   180.0    80.0           China
1   2                  A Lamusi   M  23.0   170.0    60.0           China
2   3       Gunnar Nielsen Aaby   M  24.0     NaN     NaN         Denmark
3   4      Edgar Lindenau Aabye   M  34.0     NaN     NaN  Denmark/Sweden
4   5  Christine Jacoba Aaftink   F  21.0   185.0    82.0     Netherlands

   NOC        Games  Year  Season       City          Sport  \
0  CHN  1992 Summer  1992  Summer  Barcelona     Basketball
1  CHN  2012 Summer  2012  Summer     London           Judo
2  DEN  1920 Summer  1920  Summer  Antwerpen       Football
3  DEN  1900 Summer  1900  Summer      Paris     Tug-Of-War
4  NED  1988 Winter  1988  Winter    Calgary  Speed Skating

                              Event Medal
0       Basketball Men's Basketball   NaN
1      Judo Men's Extra-Lightweight   NaN
2           Football Men's Football   NaN
3       Tug-Of-War Men's Tug-Of-War  Gold
4  Speed Skating Women's 500 metres   NaN

In [37]:
print(regions.head())

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [38]:
print(Athletes.shape)

(116723, 15)

In [39]:
print(regions.shape)

(230, 3)

# **Identifying Missing Data**

In [14]:
import pandas as pd

athletes = pd.read_csv('/content/athlete_events.csv', engine='python', on_bad_lines='skip')
regions = pd.read_csv('/content/noc_regions.csv')

athletes.columns = athletes.columns.str.strip().str.lower().str.replace(' ', '_')
regions.columns = regions.columns.str.strip().str.lower().str.replace(' ', '_')

print(athletes.columns)
print(regions.columns)

Index(['id', 'name', 'sex', 'age', 'height', 'weight', 'team', 'noc', 'games',
       'year', 'season', 'city', 'sport', 'event', 'medal'],
      dtype='object')
Index(['noc', 'region', 'notes'], dtype='object')